body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.elementor-section {
    width: 100%;
}

.elementor-container {
    max-width: 800px;
    margin: auto;
}

.cff-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h4 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.fields {
    margin-bottom: 15px;
}

.bold {
    font-weight: bold !important;
}

.dfield {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group span.currency {
    margin-left: 10px;
    font-weight: bold;
}

input.field2.medium,
select.field2.medium {
    width: calc(50% - 40px); /* Reducir ancho a la mitad */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}
